
  .card-img-top {
    height: 230px;
  }
  @media (min-width: 767px) {
      .card-img-top{
          height: 160px;
      }  
  }
  @media (min-width: 992px) {
      .card-img-top{
          height: 230px;
      }  
  }
  @media (max-width: 576px) {
      .card-img-top{
          height: 180px;
      }  
  }